.mediaList {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &Filters {
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-wrap: wrap;
  }

  &Filter {
    width: 455px;
  }
}
